In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

This connects your Google Drive so you can access files saved there.

In [2]:
import numpy as np
import pandas as pd

pandas helps us work with tables of data.

numpy helps us do math and calculations.

In [3]:
df=pd.read_csv('gdrive/My Drive/Colab Notebooks/city_level_data_0_0.csv')

This loads your dataset into a variable called df. The data is now ready for analysis.

In [4]:
print(df.columns.tolist())

['iso3c', 'region_id', 'country_name', 'income_id', 'city_name', 'additional_data_annual_budget_for_waste_management_year', 'additional_data_annual_solid_waste_budget_year', 'additional_data_annual_swm_budget_2017_year', 'additional_data_annual_swm_budget_year', 'additional_data_annual_waste_budget_year', 'additional_data_collection_ton', 'additional_data_number_of_scavengers_on_dumpsites_number', 'additional_data_other_user_fees_na', 'additional_data_swm_contract_arrangement_1_year_contract_period', 'additional_data_swm_contract_arrangement_3_year_contract_period', 'additional_data_total_annual_costs_to_collect_and_dispose_of_city_s_waste_year', 'additional_data_total_swm_expenditures_year', 'additional_data_total_waste_management_budget_year', 'communication_list_of_channels_through_which_the_city_collects_feedback_from_it_residents_on_issues_related_to_solid_waste_services_na', 'communication_summary_of_key_solid_waste_information_made_periodically_available_to_the_public_na', 'composition_food_organic_waste_percent', 'composition_glass_percent', 'composition_metal_percent', 'composition_other_percent', 'composition_paper_cardboard_percent', 'composition_plastic_percent', 'composition_rubber_leather_percent', 'composition_wood_percent', 'composition_yard_garden_green_waste_percent', 'informal_sector_child_waste_pickers_number', 'informal_sector_child_waste_pickers_percent', 'informal_sector_female_waste_pickers_number', 'informal_sector_female_waste_pickers_percent', 'informal_sector_social_safeguards_for_waste_pickers_list', 'informal_sector_total_waste_pickers_number', 'institutional_framework_department_dedicated_to_solid_waste_management_na', 'institutional_framework_environmental_assessment_for_solid_waste_management_in_the_past_5_years_na', 'institutional_framework_information_system_for_solid_waste_management_na', 'institutional_framework_performed_a_social_assessment_for_solid_waste_management_in_the_past_5_years_na', 'institutional_framework_unit_enforcing_solid_waste_issues_in_the_city_such_as_illegal_dumping_or_littering_na', 'legal_framework_long_term_integrated_solid_waste_master_plan_na', 'legal_framework_master_plan_is_being_implemented_na', 'legal_framework_solid_waste_management_rules_and_regulations_na', 'n_waste_pickers_number_of_waste_pickers_number_of_people', 'percent_informal_sector_percent_collected_by_informal_sector_percent', 'population_population_number_of_people', 'primary_collection_mode_form_of_primary_collection_na', 'separation_breakdonw_cans_and_metals_na', 'separation_breakdonw_glass_na', 'separation_breakdonw_organics_na', 'separation_breakdonw_other_na', 'separation_breakdonw_paper_cardboard_na', 'separation_breakdonw_plastics_and_packaging_na', 'separation_existence_of_source_separation_na', 'subisidies_other_subsidies_or_transfers_na', 'subisidies_subsidies_or_transfers_from_a_central_government_authority_na', 'total_msw_total_msw_generated_tons_year', 'transportation_distance_from_city_center_to_main_landfill_or_dumpsite_km', 'transportation_distance_km', 'transportation_distance_km_year', 'transportation_distance_na', 'transportation_distance_total_km_day', 'transportation_scale_calibration_and_operation_status_na', 'transportation_scale_usage_na', 'transportation_transfer_station_or_collection_point_aggregation_na', 'transportation_transfer_station_or_colletion_point_aggregation_na', 'transportation_transfer_stations_needed_number', 'transportation_transfer_stations_needed_na', 'transportation_transfer_stations_operational_number', 'transportation_transfer_stations_operational_na', 'transportation_trips_per_year_na', 'transportation_trips_per_year_trips_year', 'waste_collection_cost_recovery_commercial_fee_amount_na', 'waste_collection_cost_recovery_household_fee_amount_na', 'waste_collection_cost_recovery_household_fee_to_private_agents_non_municipal_na', 'waste_collection_cost_recovery_metadata_commercial_fee_type_na', 'waste_collection_cost_recovery_metadata_household_fee_type_na', 'waste_collection_cost_recovery_metadata_main_method_of_household_billing_na', 'waste_collection_cost_recovery_total_collection_revenues_na', 'waste_collection_cost_recovery_total_commercial_fees_collected_na', 'waste_collection_cost_recovery_total_household_fees_collected_na', 'waste_collection_coverage_total_percent_of_geographic_area_percent_of_geographic_area', 'waste_collection_coverage_total_percent_of_households_percent_of_households', 'waste_collection_coverage_total_percent_of_population_percent_of_population', 'waste_collection_coverage_total_percent_of_waste_percent_of_waste', 'waste_disposal_cost_recovery_metadata_disposal_fee_type_na', 'waste_disposal_cost_recovery_other_revenues_na', 'waste_disposal_cost_recovery_per_unit_disposal_cost_na', 'waste_disposal_cost_recovery_total_disposal_revenues_na', 'waste_disposal_cost_recovery_total_revenues_from_compost_na', 'waste_disposal_cost_recovery_total_revenues_from_recycling_na', 'waste_management_cost_controlled_landfill_na', 'waste_management_cost_incineration_na', 'waste_management_cost_open_dump_na', 'waste_management_cost_other_na', 'waste_management_cost_recycling_na', 'waste_management_cost_sanitary_landfill_landfill_gas_system_na', 'waste_to_energy_cost_recovery_amount_of_energy_distributed_through_feed_in_tariff_kwh_year', 'waste_to_energy_cost_recovery_amount_of_energy_generated_kwh_year', 'waste_to_energy_cost_recovery_feed_in_tariff_amount_na', 'waste_to_energy_cost_recovery_total_revenues_from_energy_recovery_na', 'waste_treatment_advanced_thermal_treatment_percent', 'waste_treatment_anaerobic_digestion_percent', 'waste_treatment_compost_percent', 'waste_treatment_controlled_landfill_percent', 'waste_treatment_incineration_percent', 'waste_treatment_landfill_unspecified_percent', 'waste_treatment_open_dump_percent', 'waste_treatment_other_percent', 'waste_treatment_recycling_percent', 'waste_treatment_sanitary_landfill_landfill_gas_system_percent', 'waste_treatment_unaccounted_for_percent', 'waste_treatment_waterways_marine_percent']

This tells us what information is available in our file.

In [5]:
print(df['country_name'].unique())

['Afghanistan' 'Angola' 'Albania' 'United Arab Emirates' 'Argentina'
 'Armenia' 'American Samoa' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bolivia' 'Brazil' 'Bhutan'
 'Botswana' 'Canada' 'Switzerland' 'Chile' 'China' 'Côte d’Ivoire'
 'Cameroon' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros'
 'Costa Rica' 'Cuba' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador' 'Egypt, Arab Rep.'
 'Spain' 'Estonia' 'Ethiopia' 'Finland' 'Fiji' 'France'
 'Micronesia, Fed. Sts.' 'Gabon' 'United Kingdom' 'Georgia' 'Ghana'
 'Guinea' 'Gambia, The' 'Equatorial Guinea' 'Greece' 'Guatemala'
 'Honduras' 'Croatia' 'Haiti' 'Hungary' 'Indonesia' 'Isle of Man' 'India'
 'Ireland' 'Iran, Islamic Rep.' 'Iraq' 'Israel' 'Italy' 'Jordan' 'Japan'
 'Kazakhstan' 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati'
 'Korea, Rep.' 'Kuwait' 'Lao PDR' 'Lebanon' 'Liberia' 'Libya' 'Sri Lanka'
 'Lithuania' 'Latvia' 'Morocco' 'Moldova' 'Madagascar' 'Maldives' 'Mexico'
 'Marshall Islands' 'Macedonia, FYR' 'Mali' 'Myanmar' 'Montenegro'
 'Mongolia' 'Northern Mariana Islands' 'Mozambique' 'Mauritania' 'Malawi'
 'Malaysia' 'Namibia' 'Niger' 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway'
 'Nepal' 'New Zealand' 'Oman' 'Pakistan' 'Panama' 'Peru' 'Philippines'
 'Palau' 'Papua New Guinea' 'Poland' 'Portugal' 'Paraguay'
 'West Bank and Gaza' 'Qatar' 'Romania' 'Russian Federation' 'Rwanda'
 'Saudi Arabia' 'Senegal' 'Solomon Islands' 'Sierra Leone' 'El Salvador'
 'Somalia' 'Serbia' 'South Sudan' 'Slovak Republic' 'Slovenia' 'Sweden'
 'Syrian Arab Republic' 'Togo' 'Thailand' 'Tajikistan' 'Turkmenistan'
 'Timor-Leste' 'Tonga' 'Tunisia' 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda'
 'Ukraine' 'Uruguay' 'United States' 'Uzbekistan' 'Venezuela, RB'
 'Vietnam' 'Vanuatu' 'Samoa' 'Kosovo' 'Yemen, Rep.' 'South Africa'
 'Zambia' 'Zimbabwe' nan]

This line displays all the unique country names found in the 'country_name' column of the DataFrame.

In [6]:
df["total_msw_total_msw_generated_tons_year"] = pd.to_numeric(
    df["total_msw_total_msw_generated_tons_year"],
    errors="coerce"
)

This step ensures the numbers can be added or averaged later.

In [7]:
waste_by_country = df.groupby("country_name")["total_msw_total_msw_generated_tons_year"].sum()
waste_by_country = waste_by_country.sort_values(ascending=False)
print(waste_by_country.head(10))

country_name
India                 2.075418e+07
Brazil                8.903979e+06
Russian Federation    7.989254e+06
China                 7.903000e+06
Saudi Arabia          6.580000e+06
Mexico                5.784915e+06
Egypt, Arab Rep.      5.475000e+06
Pakistan              5.280906e+06
Vietnam               4.909250e+06
South Africa          4.540491e+06
Name: total_msw_total_msw_generated_tons_year, dtype: float64

This shows the top 10 countries generating the most municipal solid waste (MSW).

In [8]:
all_city_waste = df[["city_name", "total_msw_total_msw_generated_tons_year"]].copy()
all_city_waste = all_city_waste.dropna()
all_city_waste = all_city_waste.sort_values(by="total_msw_total_msw_generated_tons_year", ascending=False)

This gives us a new dataframe with each city’s total waste.

In [10]:
df["diversion_rate"] = df["waste_treatment_recycling_percent"] + df["waste_treatment_compost_percent"]

This tells us how much waste is being diverted from landfills.

In [11]:
diversion_by_country = df.groupby("country_name")["diversion_rate"].mean()
diversion_by_country = diversion_by_country.sort_values(ascending=False)
print(diversion_by_country.head(10))

country_name
Belgium                 67.000
Korea, Rep.             65.000
Thailand                60.550
Iran, Islamic Rep.      54.000
Canada                  51.650
India                   45.394
France                  40.510
United Arab Emirates    29.000
Mexico                  24.790
Lebanon                 22.500
Name: diversion_rate, dtype: float64

This shows the average diversion rate for each country.

In [12]:
top_diversion = df[["city_name", "diversion_rate"]].sort_values(by="diversion_rate", ascending=False).head(10)
low_diversion = df[["city_name", "diversion_rate"]].sort_values(by="diversion_rate", ascending=True).head(10)

print("Top 10 Cities for Diversion:")
print(top_diversion)

print("\nBottom 10 Cities for Diversion:")
print(low_diversion)

Top 10 Cities for Diversion:
            city_name  diversion_rate
148  Pimpri-Chinchwad           79.70
171        Coimbatore           73.40
177            Mysore           72.00
26              Liege           67.00
201             Seoul           65.00
139             Kochi           61.90
318           Bangkok           60.55
149            Kanpur           54.66
180            Tehran           54.00
52            Toronto           51.65

Bottom 10 Cities for Diversion:
                                  city_name  diversion_rate
123                             Tegucigalpa            3.00
208  Dehiwala Mt. Lavinia Municipal Council            3.90
151                                  Tenali            4.75
45                                   La Paz            5.00
178                                Warangal            5.32
324                                Vavaâ€™u            6.60
210                             Trincomalee            9.70
344                                   Hanoi           10.20
82                                  Algiers           11.00
272                              Wellington           11.00

This helps us see which cities recycle and compost the most and the least.

In [13]:
top_cities_waste = df[["city_name", "total_msw_total_msw_generated_tons_year"]]
top_cities_waste = top_cities_waste.sort_values(by="total_msw_total_msw_generated_tons_year", ascending=False).head(10)
print(top_cities_waste)

          city_name  total_msw_total_msw_generated_tons_year
58          Beijing                                7903000.0
296          Moscow                                5500000.0
85            Cairo                                5475000.0
227    MÃ©xico City                                4705945.0
48        Sao Paulo                                4700000.0
302          Riyadh                                4380000.0
318         Bangkok                                4190000.0
110          London                                3560990.0
47   Rio De Janeiro                                3368499.0
201           Seoul                                3353985.0

Now we can see the cities generating the most waste.

In [14]:
all_city_waste.to_csv("all_city_waste.csv", index=False)

In [15]:
all_city_waste.to_csv("all_city_waste.csv", index=False)

This save and download csv